name: Actualizar MQ Atmos

on:
  schedule:
    - cron: '0 * * * *'  # Se ejecuta cada hora en punto (minuto 0)
  workflow_dispatch:      # Esto te permite darle a un botón "Run" manual si quieres probarlo ya

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Ejecutar Atmos Lab
        env:
          FTP_USER: ${{ secrets.FTP_USER }}
          FTP_PASS: ${{ secrets.FTP_PASS }}
        run: python main.py
        
